(edif CPU_ROM
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2022 12 23 14 38 21)
      (program "SCUBA" (version "Diamond (64-bit) 3.12.1.454"))))
      (comment "C:\lscc\diamond\3.12\ispfpga\bin\nt64\scuba.exe -w -n CPU_ROM -lang vhdl -synth synplify -bus_exp 7 -bb -arch xo2c00 -type bram -wp 00 -rp 1100 -addr_width 11 -data_width 8 -num_rows 2048 -cascade -1 -memfile c:/kevan/a3042/p3042bb/cpu_rom.mem -memformat hex ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell CPU_ROM
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port (array (rename Address "Address(10:0)") 11)
            (direction INPUT))
          (port OutClock
            (direction INPUT))
          (port OutClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port (array (rename Q "Q(7:0)") 8)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance CPU_ROM_0_0_1
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "CPU_ROM.lpc"))
            (property MEM_INIT_FILE
              (string "cpu_rom.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_16
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_15
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_13
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_12
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_11
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_10
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0D
              (string "0x00000000000000A0E05610CE51C26E08205000D71CA5008EE5080471CADE084311E0F3062101C87E"))
            (property INITVAL_0C
              (string "0x0A6040FC520087E0A2041CA050D00500850066840100F022040A02311C5007E11008230605610010"))
            (property INITVAL_0B
              (string "0x08A0106CE50266E0906500EB70022308A6812CE51A26E0962105C54010E50007A010E5020B2024E5"))
            (property INITVAL_0A
              (string "0x1005204298144190208804608046010D4901C4020220F0162105C5100EE5000000FC50000071CA81"))
            (property INITVAL_09
              (string "0x1BC471CA7008EE50C0471CA000C0500C04C044700A0700962105C5000C220820E096221020E09622"))
            (property INITVAL_08
              (string "0x0220E08CE50466E092860A8320207B0021E0A2010421202CE51626E0862106417044191020101E00"))
            (property INITVAL_07
              (string "0x0223202A120328002200020F006418020801FC450023E026F51FC4C026051FC400464101C4C0BC55"))
            (property INITVAL_06
              (string "0x0261101C461CA430DC4E0440A0A0620601E1C87E0A20F026110042104050024091C821060161C88E"))
            (property INITVAL_05
              (string "0x0A03F02CE406040160231C480024010DC40024010DC40024010DC40026F102040022500A8E408053"))
            (property INITVAL_04
              (string "0x1C8300A4E4040511C8100A0E41C48C026F10204C0220108840082031C81104810082001C8AE0BA13"))
            (property INITVAL_03
              (string "0x0026E09601080001ACE51626E082E503C58062021CAF017C5F008E51E07E0A00000EE5000000FC58"))
            (property INITVAL_02
              (string "0x03AE4000000FC50000071CA000007E0A0081CA000F4081CA100E05600A001402111280020F000415"))
            (property INITVAL_01
              (string "0x00A400A6050405000205000800128F0128E0128C0128A01287012880128501281012820128301284"))
            (property INITVAL_00
              (string "0x01286012890128B0128D000310C021130010220101E021CAF003C5000CE50866E0960707C9202C01"))
            (property CSDECODE_B
              (string "0b111"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "4"))
            (property DATA_WIDTH_A
              (string "4")))
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance CPU_ROM_0_1_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "CPU_ROM.lpc"))
            (property MEM_INIT_FILE
              (string "cpu_rom.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_16
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_15
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_14
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_13
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_12
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_11
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_10
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0D
              (string "0x00000000000000006633060011EE00020011E2000020002001000100020002A001E2400007000200"))
            (property INITVAL_0C
              (string "0x0200100010002000200100001026200022000210026200E00104001020110E070002600004106400"))
            (property INITVAL_0B
              (string "0x024000200100E0002422044030663306633060011EE0003A0000010020010026002001002D000001"))
            (property INITVAL_0A
              (string "0x002A000C11160010021B0006B0000402A52002000262003A00000100200100000000100200000274"))
            (property INITVAL_09
              (string "0x020100020002001000100020100015000160000002A0003A000001F0380000E000320000E0002A00"))
            (property INITVAL_08
              (string "0x00E000200100E0002422044220442F000100201200020000011EE000220002000000650201305E10"))
            (property INITVAL_07
              (string "0x0021001E000CA1000201064F10200100232000120001F000F40001E000040001100007020100001C"))
            (property INITVAL_06
              (string "0x00007020100020700011000300842000040002100201900007064A000C4F0E621002A00027100210"))
            (property INITVAL_05
              (string "0x024700E201064611E0061C0070002702017000470201700087020170000700017000000260100013"))
            (property INITVAL_04
              (string "0x00200026010001300200026011C00200007000120007000800026230022000800026230021002800"))
            (property INITVAL_03
              (string "0x04E1003E0006401000011EE0002201000100E010002F102010020011E20002000000010020000017"))
            (property INITVAL_02
              (string "0x08201000000001000000002010000002010002010C0100020100010002011000602AC10640100010"))
            (property INITVAL_01
              (string "0x002000200100010020011E21102A1002A1002A1002A1002A1002A1002A1002A1002A1002A1002A10"))
            (property INITVAL_00
              (string "0x02A1002A1002A1002A1002001040060A2000201305E10002F1000100200100E00022000202000000"))
            (property CSDECODE_B
              (string "0b111"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "4"))
            (property DATA_WIDTH_A
              (string "4")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef OCEB (instanceRef CPU_ROM_0_0_1))
              (portRef CEB (instanceRef CPU_ROM_0_0_1))
              (portRef OCEB (instanceRef CPU_ROM_0_1_0))
              (portRef CEB (instanceRef CPU_ROM_0_1_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef CPU_ROM_0_0_1))
              (portRef CSA2 (instanceRef CPU_ROM_0_0_1))
              (portRef CSB1 (instanceRef CPU_ROM_0_0_1))
              (portRef CSA1 (instanceRef CPU_ROM_0_0_1))
              (portRef CSB0 (instanceRef CPU_ROM_0_0_1))
              (portRef CSA0 (instanceRef CPU_ROM_0_0_1))
              (portRef RSTB (instanceRef CPU_ROM_0_0_1))
              (portRef WEB (instanceRef CPU_ROM_0_0_1))
              (portRef WEA (instanceRef CPU_ROM_0_0_1))
              (portRef CLKB (instanceRef CPU_ROM_0_0_1))
              (portRef ADB12 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB11 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB10 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB9 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB8 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB7 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB6 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB5 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB4 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB3 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB2 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB1 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA1 (instanceRef CPU_ROM_0_0_1))
              (portRef ADB0 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA0 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB8 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA8 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB7 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA7 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB6 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA6 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB5 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA5 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB4 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA4 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB3 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA3 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB2 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA2 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB1 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA1 (instanceRef CPU_ROM_0_0_1))
              (portRef DIB0 (instanceRef CPU_ROM_0_0_1))
              (portRef DIA0 (instanceRef CPU_ROM_0_0_1))
              (portRef CSB2 (instanceRef CPU_ROM_0_1_0))
              (portRef CSA2 (instanceRef CPU_ROM_0_1_0))
              (portRef CSB1 (instanceRef CPU_ROM_0_1_0))
              (portRef CSA1 (instanceRef CPU_ROM_0_1_0))
              (portRef CSB0 (instanceRef CPU_ROM_0_1_0))
              (portRef CSA0 (instanceRef CPU_ROM_0_1_0))
              (portRef RSTB (instanceRef CPU_ROM_0_1_0))
              (portRef WEB (instanceRef CPU_ROM_0_1_0))
              (portRef WEA (instanceRef CPU_ROM_0_1_0))
              (portRef CLKB (instanceRef CPU_ROM_0_1_0))
              (portRef ADB12 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB11 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB10 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB9 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB8 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB7 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB6 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB5 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB4 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB3 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB2 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB1 (instanceRef CPU_ROM_0_1_0))
              (portRef ADA1 (instanceRef CPU_ROM_0_1_0))
              (portRef ADB0 (instanceRef CPU_ROM_0_1_0))
              (portRef ADA0 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB8 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA8 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB7 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA7 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB6 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA6 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB5 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA5 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB4 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA4 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB3 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA3 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB2 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA2 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB1 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA1 (instanceRef CPU_ROM_0_1_0))
              (portRef DIB0 (instanceRef CPU_ROM_0_1_0))
              (portRef DIA0 (instanceRef CPU_ROM_0_1_0))))
          (net dataout7
            (joined
              (portRef (member Q 0))
              (portRef DOA3 (instanceRef CPU_ROM_0_1_0))))
          (net dataout6
            (joined
              (portRef (member Q 1))
              (portRef DOA2 (instanceRef CPU_ROM_0_1_0))))
          (net dataout5
            (joined
              (portRef (member Q 2))
              (portRef DOA1 (instanceRef CPU_ROM_0_1_0))))
          (net dataout4
            (joined
              (portRef (member Q 3))
              (portRef DOA0 (instanceRef CPU_ROM_0_1_0))))
          (net dataout3
            (joined
              (portRef (member Q 4))
              (portRef DOA3 (instanceRef CPU_ROM_0_0_1))))
          (net dataout2
            (joined
              (portRef (member Q 5))
              (portRef DOA2 (instanceRef CPU_ROM_0_0_1))))
          (net dataout1
            (joined
              (portRef (member Q 6))
              (portRef DOA1 (instanceRef CPU_ROM_0_0_1))))
          (net dataout0
            (joined
              (portRef (member Q 7))
              (portRef DOA0 (instanceRef CPU_ROM_0_0_1))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTA (instanceRef CPU_ROM_0_0_1))
              (portRef RSTA (instanceRef CPU_ROM_0_1_0))))
          (net RdClockEn
            (joined
              (portRef OutClockEn)
              (portRef OCEA (instanceRef CPU_ROM_0_0_1))
              (portRef CEA (instanceRef CPU_ROM_0_0_1))
              (portRef OCEA (instanceRef CPU_ROM_0_1_0))
              (portRef CEA (instanceRef CPU_ROM_0_1_0))))
          (net rdclk
            (joined
              (portRef OutClock)
              (portRef CLKA (instanceRef CPU_ROM_0_0_1))
              (portRef CLKA (instanceRef CPU_ROM_0_1_0))))
          (net raddr10
            (joined
              (portRef (member Address 0))
              (portRef ADA12 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA12 (instanceRef CPU_ROM_0_1_0))))
          (net raddr9
            (joined
              (portRef (member Address 1))
              (portRef ADA11 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA11 (instanceRef CPU_ROM_0_1_0))))
          (net raddr8
            (joined
              (portRef (member Address 2))
              (portRef ADA10 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA10 (instanceRef CPU_ROM_0_1_0))))
          (net raddr7
            (joined
              (portRef (member Address 3))
              (portRef ADA9 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA9 (instanceRef CPU_ROM_0_1_0))))
          (net raddr6
            (joined
              (portRef (member Address 4))
              (portRef ADA8 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA8 (instanceRef CPU_ROM_0_1_0))))
          (net raddr5
            (joined
              (portRef (member Address 5))
              (portRef ADA7 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA7 (instanceRef CPU_ROM_0_1_0))))
          (net raddr4
            (joined
              (portRef (member Address 6))
              (portRef ADA6 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA6 (instanceRef CPU_ROM_0_1_0))))
          (net raddr3
            (joined
              (portRef (member Address 7))
              (portRef ADA5 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA5 (instanceRef CPU_ROM_0_1_0))))
          (net raddr2
            (joined
              (portRef (member Address 8))
              (portRef ADA4 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA4 (instanceRef CPU_ROM_0_1_0))))
          (net raddr1
            (joined
              (portRef (member Address 9))
              (portRef ADA3 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA3 (instanceRef CPU_ROM_0_1_0))))
          (net raddr0
            (joined
              (portRef (member Address 10))
              (portRef ADA2 (instanceRef CPU_ROM_0_0_1))
              (portRef ADA2 (instanceRef CPU_ROM_0_1_0))))))))
  (design CPU_ROM
    (cellRef CPU_ROM
      (libraryRef ORCLIB)))
)
