BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "TP1" SITE "104" ;
LOCATE COMP "TP2" SITE "105" ;
LOCATE COMP "TX" SITE "20" ;
LOCATE COMP "RX" SITE "35" ;
LOCATE COMP "buff_data[0]" SITE "111" ;
LOCATE COMP "buff_data[1]" SITE "112" ;
LOCATE COMP "buff_data[2]" SITE "113" ;
LOCATE COMP "buff_data[3]" SITE "114" ;
LOCATE COMP "buff_data[4]" SITE "115" ;
LOCATE COMP "buff_data[5]" SITE "117" ;
LOCATE COMP "buff_data[6]" SITE "121" ;
LOCATE COMP "buff_data[7]" SITE "122" ;
LOCATE COMP "buff_addr[0]" SITE "96" ;
LOCATE COMP "buff_addr[1]" SITE "95" ;
LOCATE COMP "buff_addr[2]" SITE "94" ;
LOCATE COMP "buff_addr[3]" SITE "93" ;
LOCATE COMP "buff_addr[4]" SITE "92" ;
LOCATE COMP "buff_addr[5]" SITE "89" ;
LOCATE COMP "buff_addr[6]" SITE "87" ;
LOCATE COMP "buff_addr[7]" SITE "86" ;
LOCATE COMP "buff_addr[8]" SITE "85" ;
LOCATE COMP "buff_addr[9]" SITE "84" ;
LOCATE COMP "buff_addr[10]" SITE "82" ;
LOCATE COMP "buff_addr[11]" SITE "81" ;
LOCATE COMP "buff_addr[12]" SITE "76" ;
LOCATE COMP "buff_addr[13]" SITE "78" ;
LOCATE COMP "buff_addr[14]" SITE "77" ;
LOCATE COMP "buff_addr[15]" SITE "103" ;
LOCATE COMP "buff_addr[16]" SITE "100" ;
LOCATE COMP "buff_addr[17]" SITE "99" ;
LOCATE COMP "buff_addr[18]" SITE "98" ;
LOCATE COMP "buff_addr[19]" SITE "97" ;
LOCATE COMP "buff_addr[20]" SITE "83" ;
IOBUF PORT "buff_addr[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[10]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[11]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[12]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[13]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[14]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[15]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[16]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[17]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[18]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[19]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_addr[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "MCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "RCK_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DSU" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "REN_not" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RWE_not" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "TX" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "RX" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "buff_data[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "buff_data[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "indicators[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[17]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[18]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
IOBUF PORT "indicators[19]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
LOCATE COMP "MCK" SITE "39" ;
LOCATE COMP "RCK_in" SITE "38" ;
LOCATE COMP "RWE_not" SITE "74" ;
LOCATE COMP "REN_not" SITE "73" ;
LOCATE COMP "DSU" SITE "32" ;
LOCATE COMP "DMRST_pin" SITE "9" ;
LOCATE COMP "indicators[1]" SITE "41" ;
LOCATE COMP "indicators[2]" SITE "42" ;
LOCATE COMP "indicators[3]" SITE "43" ;
LOCATE COMP "indicators[4]" SITE "44" ;
LOCATE COMP "indicators[5]" SITE "45" ;
LOCATE COMP "indicators[6]" SITE "47" ;
LOCATE COMP "indicators[7]" SITE "48" ;
LOCATE COMP "indicators[8]" SITE "49" ;
LOCATE COMP "indicators[9]" SITE "50" ;
LOCATE COMP "indicators[10]" SITE "59" ;
LOCATE COMP "indicators[11]" SITE "60" ;
LOCATE COMP "indicators[12]" SITE "61" ;
LOCATE COMP "indicators[13]" SITE "138" ;
LOCATE COMP "indicators[14]" SITE "139" ;
LOCATE COMP "indicators[15]" SITE "140" ;
LOCATE COMP "indicators[16]" SITE "133" ;
LOCATE COMP "indicators[17]" SITE "141" ;
LOCATE COMP "indicators[18]" SITE "142" ;
LOCATE COMP "indicators[19]" SITE "143" ;
LOCATE COMP "config_lamp" SITE "132" ;
IOBUF PORT "config_lamp" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 SLEWRATE=SLOW OPENDRAIN=ON ;
LOCATE COMP "SDI_in" SITE "14" ;
IOBUF PORT "switches[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "switches[3]" SITE "125" ;
IOBUF PORT "dub[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "dub[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SDI_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DMRC" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
LOCATE COMP "dub[7]" SITE "28" ;
LOCATE COMP "dub[6]" SITE "27" ;
LOCATE COMP "dub[5]" SITE "26" ;
LOCATE COMP "dub[4]" SITE "25" ;
LOCATE COMP "dub[3]" SITE "24" ;
LOCATE COMP "dub[2]" SITE "23" ;
LOCATE COMP "dub[1]" SITE "22" ;
LOCATE COMP "dub[0]" SITE "21" ;
IOBUF PORT "DMERR_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "DMERR_in" SITE "11" ;
LOCATE COMP "DMRC" SITE "10" ;
LOCATE COMP "DMCFG" SITE "13" ;
IOBUF PORT "CDS_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "CWR_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "DMCFG" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "cont_addr[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "cont_addr[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "cont_addr[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "cont_addr[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "cont_addr[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "cont_addr[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "switches[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "CDS_in" SITE "2" ;
LOCATE COMP "CWR_in" SITE "1" ;
LOCATE COMP "cont_addr[0]" SITE "56" ;
LOCATE COMP "cont_addr[1]" SITE "52" ;
LOCATE COMP "cont_addr[2]" SITE "57" ;
LOCATE COMP "cont_addr[3]" SITE "54" ;
LOCATE COMP "cont_addr[4]" SITE "58" ;
LOCATE COMP "cont_addr[5]" SITE "55" ;
LOCATE COMP "switches[4]" SITE "127" ;
LOCATE COMP "cont_data[0]" SITE "67" ;
LOCATE COMP "cont_data[1]" SITE "62" ;
LOCATE COMP "cont_data[2]" SITE "68" ;
LOCATE COMP "cont_data[3]" SITE "63" ;
LOCATE COMP "cont_data[4]" SITE "70" ;
LOCATE COMP "cont_data[5]" SITE "65" ;
LOCATE COMP "cont_data[6]" SITE "71" ;
LOCATE COMP "cont_data[7]" SITE "69" ;
IOBUF PORT "cont_data[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
IOBUF PORT "cont_data[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
LOCATE COMP "switches[2]" SITE "126" ;
IOBUF PORT "switches[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "SDO" SITE "15" ;
IOBUF PORT "ETH" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "ETH" SITE "3" ;
LOCATE COMP "EGRN" SITE "5" ;
IOBUF PORT "SDO" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "EGRN" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4 SLEWRATE=SLOW ;
IOBUF PORT "EYLW" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4 SLEWRATE=SLOW ;
LOCATE COMP "EYLW" SITE "6" ;
FREQUENCY PORT "RCK_in" 0.032000 MHz ;
LOCATE COMP "RESET_not" SITE "40" ;
IOBUF PORT "RESET_not" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 SLEWRATE=SLOW ;
LOCATE COMP "DMCK" SITE "17" ;
IOBUF PORT "DMCK" IO_TYPE=LVCMOS33 PULLMODE=DOWN SLEWRATE=SLOW DRIVE=4 ;
LOCATE COMP "MRDY_in" SITE "12" ;
FREQUENCY NET "PCK" 20.000000 MHz ;
IOBUF PORT "MRDY_in" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "DMRST_pin" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 SLEWRATE=SLOW ;
